<% const title = 'Update sort order'; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', { title }); %>
  <link href="../../sort-order.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main class="container">
      <form action="/api/routes/sort-order" method="post" id="sort-order-form">
        <h2 class="m-b-20"><%= title %> <button class="btn update-btn" type="submit" disabled>↻</button></h2>
        <%- include('../partials/header'); %>
        <p>
          <input id="secret" type="text" name="secret" placeholder="secret" />
          <label for="secret">secret</label>
        </p>
        <section id="sortableList" class="list-group">
          <% projects.forEach((project, index) => { %>
            <div id="project-<%= project._id %>" data-id="<%= project._id %>">
              <input type="hidden" class="category" value="<%= project.category %>" />
              <i class="fas fa-arrows-alt handle"></i>
              <img class="icon" data-template="<%= project.image %>" src="<%= `${imagesFolder}${project.image}` %>" alt="<%= project.details %>" />
              <div id="<%= project.image %>" style="display: none;">
                <strong>Details:</strong> <span style="color: #ccc;"><%= project.details %></span>
              </div>
              <a href="<%= project.infoButtons.play %>" target="_blank">
              <%= project.heading %></a> <i>⇗</i>

              <label class="active-state">
                <input type="checkbox"<%= project.active ? ' checked' : ''%> />
                <span>active</span>
                <i class="fas fa-check-square checked"></i>
                <i class="fas fa-square unchecked"></i>
              </label>
              
            </div>
          <% }); %>
        </section>
        <input id="order" name="order" type="hidden" />
        <p>A total of <%= projects.length %> projects</p>
        <button class="update-btn" type="submit" class="m-b-20" disabled>Update</button><span class="m-l-20" id="update-status"></span>
      </form>
    </main>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="../../sort-order.js"></script>
  </body>
</html>

